<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/a/af/Nintendo_DS_Logo.svg"
        class="img-fluid"
        height="400"
        width="500"
      />
    </div>
  </div>

  <div class="row mt-1" *ngFor="let item of nintendoDsGames">
    <div class="col-4">
      <p>{{ item.name }}</p>
    </div>
    <div class="col-4">
      <p>Release Date : {{ item.original_release_date | date }}</p>
    </div>
    <div class="col-4">
      <a href="{{ item.guid }}">
        <img src="{{ item.image.icon_url }}" />
      </a>
    </div>
  </div>
</div>
